<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tjm.crushr">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
    android:theme="@style/AppTheme">

        <activity android:name=".crushrConfigure" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity android:name=".crushrInputDialog"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog"
            android:excludeFromRecents="true">
        </activity>

        <receiver android:name=".crushrProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".crushrWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>
